* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 200px;
    margin: 50px auto;
}
h1, h2 {
    margin: 20px;
}

table {
    background-color: #FFFF00;
    text-align: center;
}
table, tr, td {
    border: 1px solid #000;
    border-collapse: collapse;
}
table td {
    padding: 8px 15px;
}